*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
header div{
    display: flex;
    align-items: center;
}
.logo-principal{
    width: 150px;
    cursor: pointer;
}
.search-menu{
    border: none;
    background-color: #F0F0F0;
    border-radius: 20px;
    font-size: 15px;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    height: 40px;
    width: 400px;
    padding: 0 0 0 50px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-button{
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    height: 35px;
    padding: 0 15px;
    border-radius: 20px;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    font-size: 16px;
    margin: 0 5px;
    border: solid 0.5px rgba(0, 0, 0, 0.075);
    cursor: pointer;
}
.menu-button:hover{
    background-color: #f0f0f0;
}
.icon-container{
    margin: 0 0 0 20px;
}
.icon-menu{
    width: 30px;
    margin: 0 4px;
    cursor: pointer;
}
.icon-shop{
    width: 27px;
}
.icon-search{
    position: absolute;
    margin: 0 0 0 15px;
    
}
.icon-menu-sandwich{
    padding: 3px 0 0 0;
    width: 32px;
}
.dropdown-menu{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    font-size: 18px;
    background: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    height: 225px;
    padding: 0 0 0 0;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    top: 52px;
    right: -2px;
}
.dropdown-link{
    text-decoration: none;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    width: 16vw;
    margin: 0 10px;
    padding: 5px 5px;
    
}
.first-link{
    border-top: none;
}
.last-link{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.dropdown-link:hover{
    background-color: #e7e7e7;
}
.space-void{
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 52px;
    width:100%;
}
.dropdown-menu:hover .dropdown-content {
  display: flex;
}
.container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 16vw;
}
.icon-social-media{
    width: 34px;
    margin: 10px 3px 0 3px;
    transition: width 0.1s ease-in-out;
    cursor: pointer;
}
.icon-social-media:hover{
    width: 36px;
}