*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 60px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
header div{
    display: flex;
    align-items: center;
}
button{
    cursor: pointer;
}
.container{
    margin: 0 5% 0 5%;
}
.logo-principal{
    width: 150px;
    cursor: pointer;
}
.search-menu{
    border: none;
    background-color: #F0F0F0;
    border-radius: 20px;
    font-size: 15px;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    height: 40px;
    width: 400px;
    padding: 0 0 0 50px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.menu-button{
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    height: 35px;
    padding: 0 15px;
    border-radius: 20px;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    font-size: 16px;
    margin: 0 5px;
    border: solid 0.5px rgba(0, 0, 0, 0.075);
    transition: all 0.2s ease-in-out;
}
.menu-button:hover{
    background-color: #f0f0f0;
}
.icon-container{
    margin: 0 0 0 20px;
}
.icon-menu{
    width: 30px;
    margin: 0 4px;
    cursor: pointer;
}
.icon-shop{
    width: 27px;
}
.icon-search{
    position: absolute;
    margin: 0 0 0 15px;
    
}
.icon-menu-sandwich{
    padding: 3px 0 0 0;
    width: 32px;
}
.dropdown-menu{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    font-size: 18px;
    background: #f9f9f9;
    min-width: 200px;
    z-index: 1;
    height: 225px;
    padding: 0 0 0 0;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    top: 52px;
    right: -2px;
}
.dropdown-link{
    text-decoration: none;
    font-family: kanit, sans-serif;
    color: #3a3a3a;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    width: 16vw;
    margin: 0 10px;
    padding: 5px 5px;
    
}
.first-link{
    border-top: none;
}
.last-link{
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.dropdown-link:hover{
    background-color: #e7e7e7;
}
.space-void{
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 52px;
    width:100%;
}
.dropdown-menu:hover .dropdown-content {
  display: flex;
}
.container-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 16vw;
}
.icon-social-media{
    width: 34px;
    margin: 10px 3px 0 3px;
    transition: width 0.1s ease-in-out;
    cursor: pointer;
}
.icon-social-media:hover{
    width: 36px;
}

/* -------------  MAIN  ------------- */
.main-container{
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 50px 0 0 0;
}
.first-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: -10;
    height: 500px;
    width: 95%;
    max-width: 750px;
    background-color: #3A72FF;
    border-radius: 10px;
    box-shadow: 0 5px 14px 1px rgba(58, 114, 255, 0.7);

}
.first-content-img{
    display: flex;
    align-items: center;
    justify-content: center ;
    z-index: -10;
    position: absolute;
    width: 500px;
    opacity: 0.4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.first-content-title{
    text-align: center;
    font-size: 40px;
    font-family: kanit, sans-serif;
    color: #F0F0F0;
    line-height: 1;
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}
.first-content-button{
    font-family: kanit, sans-serif;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 15px;
    background: none;
    color: #F0F0F0;
    border: 2px solid #f0f0f0;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
    margin-top: -160px;
}
.second-content{
    display: grid;
    align-items: end;
    justify-items: end;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
}
.polygon{
    background-color: #3A72FF;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    clip-path: polygon(0 53%, 100% 0%, 100% 100%, 0% 100%);
}